<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>eare</key>
		<string>东湖区</string>
		<key>street</key>
		<array>
			<string>公园街道</string>
			<string>滕王阁街道</string>
			<string>八一桥街道</string>
			<string>百花洲街道</string>
			<string>墩子塘街道</string>
			<string>大院街道</string>
			<string>豫章街道</string>
			<string>董家窑街道</string>
			<string>彭家桥街道</string>
			<string>沙井街道办事处</string>
			<string>贤士湖管理处</string>
			<string>凤凰洲管理处</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>eare</key>
		<string>西湖区</string>
		<key>street</key>
		<array>
			<string>南浦街道</string>
			<string>朝阳洲街道</string>
			<string>广润门街道</string>
			<string>西湖街道</string>
			<string>系马桩街道</string>
			<string>绳金塔街道</string>
			<string>丁公路街道</string>
			<string>南站街道</string>
			<string>桃源街道</string>
			<string>十字街街道</string>
			<string>桃花镇</string>
			<string>朝阳农场</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>eare</key>
		<string>青云谱区</string>
		<key>street</key>
		<array>
			<string>洪都街道</string>
			<string>京山街道</string>
			<string>三家店街道</string>
			<string>岱山街道</string>
			<string>徐家坊街道</string>
			<string>青云谱镇</string>
			<string>昌南工业园</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>eare</key>
		<string>湾里区</string>
		<key>street</key>
		<array>
			<string>站前街道</string>
			<string>幸福街道</string>
			<string>招贤镇</string>
			<string>梅岭镇</string>
			<string>罗亭镇</string>
			<string>太平镇</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>eare</key>
		<string>青山湖区</string>
		<key>street</key>
		<array>
			<string>青山路街道</string>
			<string>上海路街道</string>
			<string>南钢街道</string>
			<string>京东镇</string>
			<string>罗家镇</string>
			<string>湖坊镇</string>
			<string>塘山镇</string>
			<string>扬子洲镇</string>
			<string>蛟桥镇</string>
			<string>昌东工业区</string>
			<string>扬农管理处</string>
			<string>白水湖管理处</string>
			<string>冠山管理处</string>
			<string>艾溪湖管理处</string>
			<string>湖西新建区</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>eare</key>
		<string>南昌县</string>
		<key>street</key>
		<array>
			<string>莲塘镇</string>
			<string>向塘镇</string>
			<string>三江镇</string>
			<string>塘南镇</string>
			<string>幽兰镇</string>
			<string>蒋巷镇</string>
			<string>武阳镇</string>
			<string>冈上镇</string>
			<string>广福镇</string>
			<string>昌东镇</string>
			<string>麻丘镇</string>
			<string>泾口乡</string>
			<string>南新乡</string>
			<string>塔城乡</string>
			<string>黄马乡</string>
			<string>富山乡</string>
			<string>东新乡</string>
			<string>八一乡</string>
			<string>小蓝经济开发区</string>
			<string>银三角管理委员会</string>
			<string>五星垦殖场</string>
			<string>良种繁殖场</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>eare</key>
		<string>新建县</string>
		<key>street</key>
		<array>
			<string>长堎镇</string>
			<string>望城镇</string>
			<string>生米镇</string>
			<string>西山镇</string>
			<string>石岗镇</string>
			<string>松湖镇</string>
			<string>樵舍镇</string>
			<string>乐化镇</string>
			<string>西霞镇</string>
			<string>象山镇</string>
			<string>石埠镇</string>
			<string>联圩镇</string>
			<string>流湖乡</string>
			<string>厚田乡</string>
			<string>金桥乡</string>
			<string>铁河乡</string>
			<string>大塘坪乡</string>
			<string>昌邑乡</string>
			<string>南矶乡</string>
			<string>恒湖垦殖场</string>
			<string>成新实业有限公司</string>
			<string>朱岗实业有限公司</string>
			<string>长堎外商投资工业区</string>
			<string>红角洲管理处</string>
			<string>九龙湖管理处</string>
			<string>桑海集团有限公司</string>
			<string>新祺周管理处</string>
			<string>新丰垦殖场</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>eare</key>
		<string>安义县</string>
		<key>street</key>
		<array>
			<string>龙津镇</string>
			<string>万埠镇</string>
			<string>石鼻镇</string>
			<string>鼎湖区</string>
			<string>长埠镇</string>
			<string>东阳镇</string>
			<string>黄洲镇</string>
			<string>乔乐乡</string>
			<string>长均乡</string>
			<string>新民乡</string>
			<string>安义工业园区</string>
			<string>万埠垦殖场</string>
			<string>峤岭垦殖场</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>eare</key>
		<string>进贤县</string>
		<key>street</key>
		<array>
			<string>民和镇</string>
			<string>李渡镇</string>
			<string>温圳镇</string>
			<string>文港镇</string>
			<string>梅庄镇</string>
			<string>张公镇</string>
			<string>罗溪镇</string>
			<string>架桥镇</string>
			<string>前坊镇</string>
			<string>三里乡</string>
			<string>二塘乡</string>
			<string>钟陵乡</string>
			<string>池溪乡</string>
			<string>南台乡</string>
			<string>三阳集乡</string>
			<string>七里乡</string>
			<string>下埠集乡</string>
			<string>衙前乡</string>
			<string>白圩乡</string>
			<string>长山晏乡</string>
			<string>泉岭乡</string>
			<string>五里垦殖场</string>
			<string>其他</string>
		</array>
	</dict>
	<dict>
		<key>eare</key>
		<string>其他</string>
		<key>street</key>
		<array>
			<string>其他</string>
		</array>
	</dict>
</array>
</plist>
