<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeautyKnocked.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>73A37CCC1EBD6A3F00BE60C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73A37CE51EBD6A3F00BE60C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73A37CF01EBD6A3F00BE60C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
